<!DOCTYPE html>
<html lang="en" class='compact'>
<head>
    <meta charset="UTF-8">
    <title>Billiards</title>

    <!-- build:css app.min.css-->
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
    <link rel="stylesheet" type="text/css" href="bower_components/jqueryui/themes/ui-lightness/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="src/app.css"/>
    <!-- endbuild-->

    <!-- build:js //ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js -->
    <!-- endbuild-->

    <!-- build:js //cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js -->
    <!-- endbuild-->

    <!-- build:js //ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js -->
    <!-- endbuild-->

    <!-- build:js //cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js -->
    <script src="bower_components/requirejs/require.js"></script>
    <!-- endbuild-->

    <!-- build:js main.min.js -->
    <script src="src/require_config.js"></script>
    <script src="src/main.js"></script>
    <!-- endbuild -->
</head>
<body>
    <div class="container" ng-controller="scenarioController">
        <div class="row">
            <div class="col-xs-12">
                <h1>Billiards</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary" ng-model="scenario" btn-radio="'brownian'">Brownian Motion</button>
                    <button type="button" class="btn btn-primary" ng-model="scenario" btn-radio="'constantv'">Constant Velocity</button>
                    <button type="button" class="btn btn-primary" ng-model="scenario" btn-radio="'gravity'">Gravity</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <bill-scenario scn-width="500" scn-height="300" scn-num-circles="15"></bill-scenario>
            </div>
            <div class="col-xs-4" id="controls">
                <div class="btn-group">
                    <button type="button" class="btn btn-success" ng-model="started" btn-radio="true">Start</button>
                    <button type="button" class="btn btn-danger"  ng-model="started" btn-radio="false">Stop</button>
                </div>
                <h3>Adjust Number of shapes:</h3>
                <div ui-slider min="1" max="25" step="1" ng-model="numCircles"></div>
            </div>
        </div>
    </div>
</body>
</html>
